{% extends 'libros/base.html' %}
{% block title %}{{accion}} libro{% endblock %}
{% block content %}
<div class="card-container">
    <h2>{{accion}} libro</h2>
    <form method="post" class="form">
        {% csrf_token %}
        <div class="form-grid">
            {{ form.non_fields_errors}}
            {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}
                    {% for error in field.errors %}
                        <small class="error">{{ error }}</small>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <button class="btn" type="submit">{{accion}}</button>
        <a class="btn btn-secondary" href="{% url 'libros:lista_libros' %}">Cancelar</a>
    </form>
</div>
{% endblock %}