{% extends 'libros/base.html' %}

{% block title %}Listado de Libros{% endblock %}

{% block content %}
<a href="{% url 'home' %}" class="btn-back">
    ← Volver al inicio
</a>

<h2 class="page-title">Listado de Libros</h2>

{% if libros %}
<div class="table-container">
<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Año</th>
            <th>Género</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for libro in libros %}
        <tr>
            <td>
                <a href="{% url 'libros:detalle' libro.pk %}">
                    {{ libro.titulo }}
                </a>
            </td>
            <td>{{ libro.autor }}</td>
            <td>{{ libro.anio }}</td>
            <td>{{ libro.genero }}</td>
            <td>
                 <div class="actions">
                    {% if user.is_authenticated %}
                        <a class="btn-edit" href="{% url 'libros:editar' libro.pk %}">Editar</a>
                        <a class="btn-delete" href="{% url 'libros:eliminar' libro.pk %}">Borrar</a>
                    {% else %}
                        —
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% else %}
<p>No hay libros registrados.</p>
{% endif %}

{% endblock %}
